html
	head
		title= title
		link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

	body
		div(class='navbar navbar-default')
			h3
				span(class='label label-default')="A/B Testing"

		div(class='container')
			h2="Viste 1 hora de una película que está pareciendote muy mala. Por suerte la entrada era gratuita. Terminás de ver la media hora restante de película?"

			form
				button(action='submit' class='btn btn-default btn-lg')="Si"
				button(action='submit' class='btn btn-default btn-lg')="No"